*{
    background-color: rgb(221, 221, 150);
}

.datos{
    font-size: 25px;
    text-align: center;
    color: brown;
}

.correo{
    text-align: center;
    font-size: 20px;
}

#habilidad{
    font-size: 20px;
    font-style: italic;
}